<style>
    .glow::before,
    .glow::after {
      content: "";
      position: absolute;
      background: linear-gradient(
        45deg,
        #DB7093,
        #C71585,
        #6e0dd0,
        #dd3300,
        #000
      );
      background-size: 500%;
      width: 100%;
      height: 10%;
      
      z-index: -15;
      animation: bg 10s linear infinite;
    }
    

</style>


<html>
   <head>
    <link rel="icon" type="image/png" href="/images/manager.png"/>
    <title>Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
   </head> 
   <body>
    <div class="row g-3" >
    <div class="row-md-12">
     <div  class="glow" style="display: flex;  font-weight: bold; font-family: 'Poppins', sans-serif; font-size: 30px; align-items: center;  height: 50px;">
        <div>
              <img src="/images/empl.gif" style="width: 80px; height: 80px; margin-left: 5px;">
            </div>  
            <div style="color: #000;">
         Dashboard
        </div>
        <div style=" display: flex; justify-content: center;">
            <span style="margin-left:300px"><a href="/employee/employeedetails"  target="mw" style="display: flex; ; font-weight: 400; font-family: 'Poppins', sans-serif; font-size: 20px; align-items: center; color: #000; text-decoration: none;">Add Employee</a></span>
            <span style="margin-left:30px"><a href="/employee/displayallemployees" target="mw" style="display: flex; ; font-weight: 400; font-family: 'Poppins', sans-serif; font-size: 20px; align-items: center; color: #000; text-decoration: none;">Employee List</a></span>
            <span style="margin-left:30px"><a href="/login/emplogout" style="display: flex; ; font-weight: 400; font-family: 'Poppins', sans-serif; font-size: 20px; align-items: center; color: #000; text-decoration: none;">Logout</a></span>
        </div>
    </div> 
  </div>
  <div class="col-md-12">
    <iframe name="mw" frameborder="0" style="width: 100vw; height: 100vh;"> </iframe>
</div>

    

  
</div>
</body>
   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</html>